@use "../../../styles/helpers" as *;

.grid {
  $columns: 1;

  display: grid;
  grid-template-columns: repeat(#{$columns}, 1fr);
  gap: 20px;

  @include mobile {
    gap: 15px;
  }

  @for $i from 1 through 12 {
    &--#{$i} {
      $columns: $i;
    }
  }

  @for $i from 2 through 4 {
    &--#{i} {
      @include tablet {
        $columns: 2;
      }

      @include mobile {
        $columns: 1;
      }
    }
  }

  &__item {
    &--wide {
      grid-column: -1 / 1;
    }
  }
}
